
{% extends 'layouts/base-specials.html' %}
{% block title %} Loading {% endblock title %}
{% block content %}
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header pb-5" style="position: relative;">
                    <div class="text-center mt-2 mb-3">
                        <div class="text-center mt-2">
                            <img src="/static/assets/img/theme/robot-crafting.png" style="width: 45%; height: 45%">     
                          </div>
                        <div class="primary-label-forms text-center mt-2 mb-3" style="font-size: 22px;">
                          <br>
                            ¡Estamos creando tu modelo!     
                          </div>
                          <div class="text-center mb-2">
                            Esto puede requerir unos minutos.
                          </div>
                        <br></br>
                        <div class="loader" style="position: absolute; top: 85%; left: 50%; transform: translate(-50%, -50%);"></div>
                        <br></br>
                    </div>
                </div>
            </div>
            <div class="row mt-3 text-center">
                <div class="col-12">
                    <a href="/" class="text-light"><medium>Página principal</medium></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
    window.addEventListener("load", () => {
        const loader = document.querySelector(".loader");
        loader.classList.add("loader-hidden");
        loader.addEventListener("transitionend", () => {
            document.body.removeChild("loader")
        })
    });
</script>

<script src="{{url_for('static', filename='main.js')}}"></script>
<script> window.location.replace('/creatingmodel'); </script>
{% endblock javascripts %}
