<!-- Footer -->
<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <a target="_blank" href="https://github.com/phf1001/semisupervised-learning-in-cibersecurity">
        <img src="/static/assets/img/icons/common/github.svg" width="30" height="30">
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/patriciahf">&nbsp;&nbsp;Patricia Hernando</a>
    </div>
    <div class="col-xl-6">
      <div class="text-center text-xl-right text-muted">
        <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank"> &copy; Creative-Tim
        </a>
        <a target="_blank" href="https://appseed.us">AppSeed</a>
      </div>
    </div>
  </div>
</footer>