<!DOCTYPE html>
<!-- Author: phf -->
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-dark bg-gradient-primary"
      id="sidenav-main">
      <div class="scrollbar-inner">
        <nav class="navbar navbar-dark bg-gradient-primary">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <div class="navbar-inner">
          <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <i class="fas fa-home text-white"></i>
                  <span class="nav-link-text">{{ gettext('Inicio') }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<nav class="navbar navbar-dark bg-gradient-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
    aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>