<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-gradient-primary">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default"
      aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-default">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a class="primary-label-forms" href="javascript:void(0)">
              KRINI
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default"
              aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          {% if 'index' in segment %}
          <a class="nav-link text-indigo bg-white font-weight-bolder" href="/">
            {% else %}
            <a class="nav-link text-white font-weight-bold" href="/">
              {% endif %}
              <i class="ni ni-world-2"></i>{{ gettext('Análisis') }}
            </a>
        </li>
        <li class="nav-item">
          {% if 'dashboard' in segment %}
          <a class="nav-link text-indigo bg-white font-weight-bolder" href="/dashboard">
            {% else %}
            <a class="nav-link text-white font-weight-bold" href="/dashboard">
              {% endif %}
              <i class="ni ni-chart-pie-35"></i>{{ gettext('Dashboard') }}
            </a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          {% if 'report_url' in segment %}
          <a class="nav-link text-indigo bg-white font-weight-bolder" href="/report_url">
            {% else %}
            <a class="nav-link text-white font-weight-bold" href="/report_url">
              {% endif %}
              <i class="ni ni-notification-70"></i>{{ gettext('Denunciar URL') }}
            </a>
        </li>
        {% endif %}
        {% if current_user.user_rol == "admin" %}
        <li class="nav-item">
          {% if 'models' in segment %}
          <a class="nav-link text-indigo bg-white font-weight-bolder" href="/models">
            {% else %}
            <a class="nav-link text-white font-weight-bold" href="/models">
              {% endif %}
              <i class="ni ni-atom"></i>{{ gettext('Modelos') }}
            </a>
        </li>
        <li class="nav-item">
          {% if segment == 'instances' %}
          <a class="nav-link text-indigo bg-white font-weight-bolder" href="/instances">
            {% else %}
            <a class="nav-link text-white font-weight-bold" href="/instances">
              {% endif %}
              <i class="ni ni-books"></i>{{ gettext('Instancias') }}
            </a>
        </li>
        <li class="nav-item">
          {% if 'review' in segment %}
          <a class="nav-link text-indigo bg-white font-weight-bolder" href="/review_instances">
            {% else %}
            <a class="nav-link text-white font-weight-bold" href="/review_instances">
              {% endif %}
              <i class="ni ni-check-bold"></i>{{ gettext('Sugerencias') }}
            </a>
        </li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon" href="#" id="navbar-default_dropdown_1" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person-circle text-lg"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
            <a class="dropdown-item" href="/profile">
              {{ gettext('Perfil') }}
            </a>
            <a class="dropdown-item" target="_blank" href="mailto:phf1001@alu.ubu.es?Subject=Contacto%20Krini">
              {{ gettext('Contacto') }}
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('authentication_blueprint.logout') }}">
              {{ gettext('Cerrar sesión') }}
            </a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-white font-weight-bold" href="/login">
            <i class="bi bi-person-circle"></i></i>{{ gettext('Iniciar sesión') }}
          </a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon" href="#" id="navbar-default_dropdown_2" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-translate text-lg"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_2">
            <a class="dropdown-item" href="/language=es">{{ gettext('Español') }}</a>
            <a class="dropdown-item" href="/language=en">{{ gettext('English') }}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>