{% extends 'layouts/base-fullscreen.html' %}
{% block title %} {{ gettext('Iniciar sesión') }} {% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-3">
          <div class="text-muted text-center mt-2 mb-3">
            <p class="primary-label-forms" style="text-align: center;"> {{ gettext('INICIA SESIÓN') }}</p>
            {% if msg %}
            <span class="text-danger">{{ msg | safe }}</span>
            {% else %}
            <span>
              {{ gettext('Introduce tus credenciales') }}
            </span>
            {% endif %}
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <form role="form" method="post" action="">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div class="form-group mb-3">
              <p class="primary-label-forms"> {{ gettext('Nombre de usuario') }}</p>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                {{ form.username(placeholder="jacksparrow",class="form-control") }}
              </div>
            </div>
            <br />
            <div class="form-group">
              <p class="primary-label-forms"> {{ gettext('Contraseña') }}</p>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                {{ form.password(placeholder="********",class="form-control",type="password" )}}
              </div>
            </div>
            <div class="text-center">
              <button type="submit" name="login" class="btn btn-primary my-4">{{ gettext('Iniciar sesión') }}</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3 text-center">
        <div class="col-12">
          <a href="{{ url_for('authentication_blueprint.register') }}" class="text-light">
            <medium>{{ gettext('Registrarse') }}</medium>
          </a>
          <a class="text-lg font-weight-bolder"> · </a>
          <a href="{{ url_for('home_blueprint.index') }}" class="text-light">
            <medium>{{ gettext('Inicio') }}</medium>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}