<!-- Tabla atributos coforest -->

<div class="table-responsive">
    <table class="table align-items-center table-flush" style="table-layout: fixed ; width: 100%;">
        <tbody class="list">
            <tr>
                <td>
                    <div class="form-group mb-3">
                        <p class="primary-label-forms">Thetha&nbsp;
                            <span class="gray-description-forms">(umbral de confianza con el decimal separado mediante
                                un punto)</span>
                        </p>
                        {{ form.thetha(placeholder="0.75", class="form-control") }}
                    </div>

                </td>
                <td>
                    <div class="form-group mb-3">
                        <p class="primary-label-forms">Número de árboles&nbsp;
                            <span class="gray-description-forms">(número de clasificadores base)</span>
                        </p>
                        {{ form.n_trees(placeholder="6", class="form-control") }}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="form-group mb-3">
                        <p class="primary-label-forms">Max
                            <span class="gray-description-forms">(máximo de atributos
                                utilizados al dividir en la construcción del árbol)</span>
                        </p>
                        {{ form.max_features(placeholder="visibilidad", class="form-control") }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>