{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Report a url</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Report a URL</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <form role="form" method="post" action="">
              {{ form.hidden_tag() }}
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">URL</th>
                    <th scope="col" class="sort" data-sort="type">Type</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                  <tr>
                    <th scope="row">
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-world-2"></i></span>
                          </div>
                          {{ form.url(placeholder="url",class="form-control") }}
                        </div>
                      </div>
                    </th>
                    <td class="media align-items-center">
                      <div class="select align-items-center">
                        {{ form.type(placeholder="type",class="form-control") }} 
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" colspan="2">
                      <div class="text-center">
                        <button type="submit" name="report" class="btn btn-primary my-4">Send!</button>
                      </div>
                    </td>
                    <td>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}
