{% extends 'layouts/base.html' %}

{% block title %} Probar modelo {% endblock title %}

{% block content %}

<div class="header bg-primary-gradient pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/models">Administración de modelos</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Probar modelo</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">

    {% if scores != None %}
    <!-- Gráficos -->
    <div class="row">
        <div id="cls-scores" data-cls-scores="{{ scores }}"></div>
        <div id="cls-names" data-cls-names="['{{ model['model_name'] }}']"></div>
        <div class="col-xl-12">
            <div class="card bg-default">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 id="h6-cls-score-graph" class="h3 text-white mb-0" style="float:left;"> </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart char-bars-models-->
                    <div class="chart">
                        <canvas id="chart-bars-test" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Tabla del dataset -->
    <form role="form" method="POST" action="" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="mb-0">PROBANDO MODELO {{ model["model_name"] }}</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush" style="table-layout: fixed ; width: 100%;">
                            <!-- subida de datos-->
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name"
                                        style="font-size: medium; color: gray; font-weight: normal; font-weight: bold; text-align: left;">
                                        DATOS DE TEST
                                    </th>
                                    <th scope="col" class="sort" data-sort="type">&nbsp;</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="2">
                                    <div class="form-group mb-3">
                                        <p class="primary-label-forms">SELECCIONA UN MÉTODO&nbsp;<span
                                                class="gray-description-forms">
                                                (de subida de datos de test)
                                            </span></p>
                                        <select class="form-control" id="select-upload-method"
                                            name="form_select_data_method"
                                            onchange="showDiv('hd1', 'hd2', 'hd3', this)">
                                            <option value="1">Importar CSV</option>
                                            <option value="2">Usar dataset</option>
                                        </select>
                                        <br></br>
                                        <div id="hd1" style="display: block">
                                            <p class="primary-label-forms">DATOS DE
                                                TEST&nbsp;<span class="gray-description-forms">Conjunto para probar. Si
                                                    se quieren resultados
                                                    certeros, no debe contener ningún enlace utilizado para
                                                    entrenar.</span></p>
                                            <div class="form-control">
                                                {{ form.uploaded_test_csv }}
                                            </div>
                                        </div>
                                        <div id="hd2" style="display: none">
                                            <span class="gray-description-forms">En este caso, se utilizarán los datos
                                                del dataset.
                                                Para garantizar que los resultados sean certeros, no se utilizarán
                                                instancias vistas durante el entrenamiento.
                                            </span>
                                        </div>
                                    </div>
                                    <div style="align-items: center;">
                                        <br></br>
                                        <p class="primary-label-forms">
                                            <input id="checkbox-exclude-train" value="0" type="checkbox"
                                                style="width: 20px; height: 20px;" name="checkbox-exclude-train">
                                            &nbsp;&nbsp;¿Excluir ejemplos vistos durante el entrenamiento?&nbsp;
                                            <span class="gray-description-forms">Si se selecciona, en caso de
                                                haber
                                                instancias ya vistos durante el entrenamiento en el conjunto de
                                                test, serán
                                                omitidos.</span>
                                        </p>
                                    </div>
                                    <div style="align-items: center;">
                                        <p class="primary-label-forms">
                                            <input id="checkbox-update-db" value="0" type="checkbox"
                                                style="width: 20px; height: 20px;" name="checkbox-update-db">
                                            &nbsp;&nbsp;¿Actualizar la base de datos?&nbsp;
                                            <span class="gray-description-forms">Si se selecciona, las scores serán
                                                actualizadas con los resultados obtenidos.</span>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center;">
                                    <div style="align-items: center;">
                                        <button type="submit" name="siguiente"
                                            class="btn btn-primary my-4">Siguiente</button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
{% endblock javascripts %}