.container-multi-select{
    position: relative;
    max-width:  320px;
    width: 100%;
    border-radius: 8px;
    margin: 80px auto 30px;
    background: #fff;
}

.select-btn{
    display:flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.select-btn .btn-text{
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #6e93f7;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}

.list-items-multi-select {
    position: relative;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-btn.open ~ .list-items-multi-select{
    display: block;
}

.list-items-multi-select .item {
    display: flex;
    align-items: center;
    list-style:none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-items-multi-select .item:hover {
    background-color: aliceblue;
}

.item .item-text {
    font-size: 16px;
    font-weight: 400;
    color:#333;
}

.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox{
    background-color: #6e93f7;
    border: 1.5px solid #6e93f7;
}

.checkbox .check-icon {
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.item.checked .check-icon{
    transform: scale(0);
}