<div class="table-responsive">
    <table class="table align-items-center table-flush" style="table-layout: fixed ; width: 100%;">
        <tbody class="list">
            <tr>
                <td>
                    <div class="form-group mb-3">
                        <p class="primary-label-forms">
                            {{ gettext('Primer clasificador') }}&nbsp;
                            <span class="gray-description-forms">
                                ({{ gettext('algoritmo base utilizado') }})
                            </span>
                        </p>
                        {{ form.cls_one(placeholder="Primer clasificador", class="form-control") }}
                    </div>
                </td>
                <td>
                    <div class="form-group mb-3">
                        <p class="primary-label-forms">
                            {{ gettext('Número de clasificadores') }}&nbsp;
                            <span class="gray-description-forms">
                                ( {{ gettext('número de clasificadores base de este tipo')}} )
                            </span>
                        </p>
                        {{ form.n_cls_one(placeholder="1", class="form-control") }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group mb-3">
                        <p class="primary-label-forms">{{ gettext('Segundo clasificador') }}&nbsp;
                            <span class="gray-description-forms">
                                ({{ gettext('algoritmo base utilizado') }})
                            </span>
                        </p>
                        {{ form.cls_two(placeholder="Segundo clasificador", class="form-control") }}
                    </div>
                </td>
                <td>
                    <div class="form-group mb-3">
                        <p class="primary-label-forms">
                            {{ gettext('Número de clasificadores') }}&nbsp;
                            <span class="gray-description-forms">
                                ( {{ gettext('número de clasificadores base de este tipo')}} )
                            </span>
                        </p>
                        {{ form.n_cls_two(placeholder="1", class="form-control") }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group mb-3">
                        <p class="primary-label-forms">{{ gettext('Tercer clasificador') }}&nbsp;
                            <span class="gray-description-forms">
                                ({{ gettext('algoritmo base utilizado') }})
                            </span>
                        </p>
                        {{ form.cls_three(placeholder="Tercer clasificador", class="form-control") }}
                    </div>
                </td>
                <td>
                    <div class="form-group mb-3">
                        <p class="primary-label-forms">
                            {{ gettext('Número de clasificadores') }}&nbsp;
                            <span class="gray-description-forms">
                                ( {{ gettext('número de clasificadores base de este tipo')}} )
                            </span>
                        </p>
                        {{ form.n_cls_three(placeholder="1", class="form-control") }}
                    </div>
                </td>
            </tr>
            <tr data-toggle="collapse" data-target="#info-democratic-co" class="accordion-toggle">
                <td style="text-align: left;">
                    <div>
                        <a class="btn btn-icon-only bg-primary">
                            <i class="ni ni-bulb-61 text-white"></i>
                        </a>
                        <p class="primary-label-forms" style="display:inline">
                            &nbsp;{{ gettext('Pseudocódigo') }}&nbsp;
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="hiddenRow">
                    <div id="info-democratic-co" class="accordian-body collapse">
                        <p style="text-align: center;">
                            {% if language == 'es' %}
                            <img src="/static/assets/img/theme/democraticco_pseudocode.png"
                                alt="Pseudocódigo de Democratic Co">
                            {% else %}
                            <img src="/static/assets/img/theme/democraticco_pseudocode_en.png"
                                alt="Pseudocode of Democratic Co">
                            {% endif %}
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>