<!DOCTYPE html>

<head>
  <title>
    {{ gettext('KRINI - Página principal') }}
  </title>
  {% block stylesheets %}
  {% include "includes/scripts-fullscreen.html" %}
  {% endblock stylesheets %}
</head>

<body class="bg-default">
  {% include "includes/navigation.html" %}
  {% with messages=get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
  <div class='alert alert-{{ category }} text-center alert-dismissible fade show m-auto' style='font-size: 20px'>
    {{ message }}
  </div>
  {% endfor %}
  {% endwith %}

  <div class="main-content">
    <div class="header bg-gradient-primary py-3 py-lg-3">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    {% block content %}
    <div class="container mt--100 pb-2 bg-transparent">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-5">
          <div class="card bg-transparent" style="text-shadow: none; box-shadow: none;">
            <div class="card-header bg-transparent pb-5 border-0">
              <div class="text-center">
                <img src="/static/assets/img/theme/logo.png" style="width: 60%; height: 60%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--5">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <div class="text-primary text-center main-krini-title" id="txtbox:index-title">
                {{ gettext('KRINI') }}
              </div>
            </div>
            <div class="table-responsive">
              <form role="form" method="post" action="" novalidate>
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                <table class="table align-items-center table-flush">
                  <caption></caption>
                  <thead class="thead-light">
                    <tr>
                      <th colspan="5">
                        <div class="text-muted text-center main-krini-subtitle" id="txtbox:index-subtitle">
                          {{ gettext('ANALIZADOR DE PHISHING') }}
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>
                      <td></td>
                      <td colspan="3">
                        <div class="form-group mb-0" name="search">
                          <br /><br />
                          <p class="primary-label-forms">&nbsp;&nbsp;
                            {{ gettext('Introduce una URL') }}&nbsp;
                            <span class="gray-description-forms">
                              {{ gettext('preferiblemente con protocolo (http:// o https://)') }}
                            </span>
                          </p>
                          <div class="input-group input-group-alternative input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            {{ form.url(placeholder="https://google.com", class="form-control") }}
                          </div>
                        </div>
                        <div class="form-group mb-0">
                          <br /><br /><br />
                          <p class="primary-label-forms">&nbsp;&nbsp;
                            {{ gettext('Selecciona un modelo') }}&nbsp;
                            <span class="gray-description-forms">
                              {{ gettext('los modelos visibles se muestran en el despegable') }}
                            </span>
                          </p>
                          {{ form.selected_models }}
                          <div class="container-multi-select">
                            <div class="select-btn">
                              <span class="btn-text"> {{ gettext('Modelos disponibles') }}</span>
                              <span class="arrow-dwn">
                                <i class="ni ni-bold-down"></i>
                              </span>
                            </div>
                            <ul class="list-items-multi-select">
                              <li style="list-style-type: none;">
                                <div class="container-fluid">
                                  <div class="row">
                                    <span id="select-all" name="btn:select-all" class="btn btn-outline-primary">
                                      <i class="bi bi-check-square"></i>
                                    </span>
                                    &nbsp;&nbsp;&nbsp;
                                    <span id="deselect-all" name="btn:deselect-all" class="btn btn-outline-primary">
                                      <i class="bi bi-x-square"></i>
                                    </span>
                                  </div>
                                  <br />
                                </div>
                              </li>
                              {% for model in available_models %}
                              <li class="item" value="{{ model.0 }}">
                                <span class="checkbox"></span>
                                <span class="item-text">{{ model.1 }}</span>
                              </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                        <div class="form-group mb-0">
                          <br /><br />
                          <p class="primary-label-forms">
                            <input id="checkbox-quick-scan" value="0" type="checkbox" style="width: 20px; height: 20px;"
                              name="checkbox-quick-scan">
                            &nbsp;&nbsp;{{ gettext('¿Análisis rápido?') }}&nbsp;
                            <span class="gray-description-forms">
                              {{ gettext('Si la URL se encuentra en nuestra base de datos,') }}
                              {{ gettext('los resultados se mostrarán inmediatamente.') }}
                              {{ gettext('Si no, se realizará un análisis completo ') }}
                              {{ gettext('(1 minuto aproximadamente). En caso de encontrar la instancia ') }}
                              {{ gettext('en la base de datos, no se mostrarán los valores') }}
                              {{ gettext('utilizados en la extracción del vector de características.') }}
                            </span>
                          </p>
                        </div>
                        <div class="text-center">
                          <button id="btn-submit" type="submit" name="search" class="btn btn-primary my-4">
                            {{ gettext('¡Analiza mi URL!') }}
                          </button>
                        </div>
                      </td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-xl-4 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p class="primary-label-forms">
                    {{ gettext('Analizador de phishing') }}
                  </p>
                  <span class="h4 text-muted">
                    {{ gettext('¡Bienvenido al analizador de enlaces de phishing! ') }}
                    {{ gettext('Para utilizarlo, tan ') }}
                    {{ gettext('sólo escribe la dirección de la página que quieres analizar y ') }}
                    {{ gettext('pulsa el botón "Scan". En el dashboard podrás observar algunas ') }}
                    {{ gettext('de las gráficas generadas por nuestros estimadores.') }}
                  </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p class="primary-label-forms">
                    {{ gettext('¿Cómo funciona?') }}
                  </p>
                  <span class="h4 text-muted">
                    {{ gettext('El resultado se obtiene de generar un vector de características ') }}
                    {{ gettext('asociado a la página que se introduzca. Una vez conseguido, ') }}
                    {{ gettext('se procesa mediante algoritmos de Machine Learning para obtener un ') }}
                    {{ gettext('resultado que nos indique si la página es o no phishing.') }}
                  </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                    <i class="ni ni-chart-pie-35"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p class="primary-label-forms">
                    {{ gettext('¿Puedo denunciar enlaces?') }}
                  </p>
                  <span class="h4 text-muted">
                    {{ gettext('¡Por supuesto! Además de utilizar algoritmos de aprendizaje ') }}
                    {{ gettext('semisupervisado, también puedes denunciar enlaces sospechosos ') }}
                    {{ gettext('para que sean analizados por nuestro equipo de expertos. ') }}
                    {{ gettext('Tan sólo tienes que iniciar sesión.') }}
                  </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                    <i class="ni ni-money-coins"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}
    {% include "includes/footer-fullscreen.html" %}
  </div>
  {% include "includes/scripts.html" %}
  {% block javascripts %}
  <script src="/static/assets/js/argon.js?v=1.2.0"></script>
  <script src="/static/assets/js/multiselect.js"></script>
  {% endblock javascripts %}
</body>

</html>