{% extends 'layouts/base.html' %}
{% block title %} {{ gettext('Nuevo modelo') }} {% endblock title %}
{% block content %}

<div class="header bg-gradient-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="/models">{{ gettext('Administración de modelos') }}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ gettext('Nuevo modelo') }}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<form role="form" method="post" action="" enctype="multipart/form-data" novalidate>
  {{ form.csrf_token }}
  {{ form.hidden_tag() }}
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">{{ gettext('NUEVO MODELO') }}</h3>
          </div>
          <!-- General params-->
          <div class="table-responsive">
            <table class="table align-items-center table-flush" style="table-layout: fixed ; width: 100%;">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">
                    <p class="light-gray-thread-forms">
                      {{ gettext('Parámetros generales') }}
                    </p>
                  </th>
                  <th scope="col" class="sort" data-sort="type">&nbsp;</th>
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <td>
                    <div class="form-group mb-3">
                      <p class="primary-label-forms">
                        {{ gettext('Nombre del modelo') }}
                      </p>
                      {{ form.model_name(placeholder="co-forest-admin", class="form-control")}}
                    </div>
                  </td>
                  <td>
                    <div class="form-group mb-3">
                      <p class="primary-label-forms">
                        {{ gettext('Versión') }}&nbsp;
                        <span class="gray-description-forms">
                          ({{ gettext('máximo tres enteros separados por puntos') }})
                        </span>
                      </p>
                      {{ form.model_version(placeholder="1.0.0", class="form-control") }}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group mb-3">
                      <p class="primary-label-forms">
                        {{ gettext('¿Es visible?') }}&nbsp;
                        <span class="gray-description-forms">
                          ({{ gettext('implica que el resto de usuarios pueden utilizar el modelo') }})
                        </span>
                      </p>
                      {{ form.is_visible(placeholder="visibilidad", class="form-control") }}
                    </div>
                  </td>
                  <td>
                    <div class="form-group mb-3">
                      <p class="primary-label-forms">
                        {{ gettext('¿Convertir en "default"?') }}&nbsp;
                        <span class="gray-description-forms">
                          ({{ gettext('será el nuevo clasificador usado por defecto') }})
                        </span>
                      </p>
                      {{ form.is_default(placeholder="defecto", class="form-control") }}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="form-group mb-3">
                      <p class="primary-label-forms">
                        {{ gettext('Semilla aleatoria') }}&nbsp;
                        <span class="gray-description-forms">
                          ({{ gettext('un número entero o -1 si no deseas ninguna') }})
                        </span>
                      </p>
                      {{ form.random_state(placeholder="5", class="form-control") }}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="form-group mb-3">
                      <p class="primary-label-forms">
                        {{ gettext('Notas') }}
                      </p>
                      {{ form.model_description(placeholder="", class="form-control") }}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Individual params-->
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">{{ gettext('ALGORITMO DE APRENDIZAJE') }}</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush" style="table-layout: fixed ; width: 100%;">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">
                    <p class="light-gray-thread-forms">
                      {{ gettext('Parámetros propios del algoritmo') }}
                    </p>
                  </th>
                  <th scope="col" class="sort" data-sort="type">&nbsp;</th>
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <td colspan="2">
                    <div class="form-group mb-3">
                      <p class="primary-label-forms">
                        {{ gettext('SELECCIONA UN ALGORITMO') }}&nbsp;
                        <span class="gray-description-forms">
                          {{ gettext('de aprendizaje semisupervisado') }}
                        </span>
                      </p>
                      <br></br>
                      <select class="form-control" id="select-ssl-alg" name="form_select_ssl_alg"
                        onchange="showDiv('hd4', 'hd5', 'hd6', this)">
                        <option value="1">Co-Forest</option>
                        <option value="2">Democratic-co</option>
                        <option value="3">Tri-training</option>
                      </select>
                      <br></br>
                      <div id="hd4" style="display: none">
                        {% include "home/form-co-forest.html" %}
                        {% set _ = form.__setattr__('model_algorithm', 'co-forest') %}
                      </div>
                      <div id="hd5" style="display: none">
                        {% include "home/form-democratic-co.html" %}
                        {% set _ = form.__setattr__('model_algorithm', 'democratic-co') %}
                      </div>
                      <div id="hd6" style="display: none">
                        {% include "home/form-tri-training.html" %}
                        {% set _ = form.__setattr__('model_algorithm', 'tri-training') %}
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Dataset-->
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">{{ gettext('CONJUNTO DE DATOS') }}</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush" style="table-layout: fixed ; width: 100%;">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name" colspan="2">
                    <p class="light-gray-thread-forms">
                      {{ gettext('DATOS DE ENTRENAMIENTO') }}
                    </p>
                  </th>
                </tr>
              </thead>
              <tr>
                <td colspan="2">
                  <div class="form-group mb-3">
                    <p class="primary-label-forms">
                      {{ gettext('SELECCIONA UN MÉTODO') }}&nbsp;
                      <span class="gray-description-forms">
                        ({{ gettext('de subida de datos de entrenamiento') }})
                      </span>
                    </p>
                    <br></br>
                    <select class="form-control" id="select-upload-method" name="form_select_data_method"
                      onchange="showDiv('hd1', 'hd2', 'hd3', this)">
                      <option value="1">{{ gettext('Importar CSV') }}</option>
                      <option value="2">{{ gettext('Generar datos aleatoriamente') }}</option>
                    </select>
                    <br></br>
                    <div id="hd1" style="display: block">
                      <p class="primary-label-forms">
                        {{ gettext('DATOS ENTRENAMIENTO') }}&nbsp;
                        <span class="gray-description-forms">
                          {{ gettext('Conjunto utilizado para entrenar') }}
                        </span>
                      </p>
                      <div class="form-control">
                        {{ form.uploaded_train_csv }}
                      </div>
                      <br></br>
                      <p class="primary-label-forms">
                        {{ gettext('DATOS DE TEST') }}&nbsp;
                        <span class="gray-description-forms">
                          {{ gettext('Conjunto para probar. Si se quieren resultados certeros,') }}
                          {{ gettext(' no debe contener ningún enlace utilizado para entrenar.') }}
                        </span>
                      </p>
                      <div class="form-control">
                        {{ form.uploaded_test_csv }}
                      </div>
                    </div>
                    <div id="hd2" style="display: none">
                      <span class="gray-description-forms">
                        {{ gettext('En este caso, se van a generar aleatoriamente los ') }}
                        {{ gettext('conjuntos de entrenamiento y test ') }}
                        {{ gettext('utilizando todos los datos de la base de datos. ') }}
                        <br />
                        {{ gettext('Podrás personalizar el porcentaje de') }}
                        {{ gettext('instancias que se utilizarán para el') }}
                        {{ gettext('entrenamiento (las que sobren se utilizarán para test).') }}
                        <p class="primary-label-forms">
                          <br />
                          {{ gettext('PORCENTAJE DE INSTANCIAS PARA ENTRENAMIENTO') }}&nbsp;
                          <span class="gray-description-forms">
                            {{ gettext('Introduce sólo el número (por ejemplo, 80)') }}
                          </span>
                        </p>
                      </span>
                      {{ form.train_percentage_instances(placeholder="Introduce un entero", class="form-control")}}
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div style="text-align: center;">
                    <button type="submit" name="siguiente" class="btn btn-primary my-4">{{ gettext('Siguiente')
                      }}</button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% include "includes/footer.html" %}
  </div>
</form>
{% endblock content %}