<footer class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col">
        <a target="_blank" href="https://github.com/phf1001/semisupervised-learning-in-cibersecurity">
          <img src="/static/assets/img/icons/common/github.png" width="30" height="30">
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/patriciahf">&nbsp;&nbsp;Patricia Hernando</a>
      </div>

      <div class="col">
        <div class="text-xl-center">
          <a target="_blank" href="https://www.educacionyfp.gob.es/servicios-al-ciudadano/becas-ayudas.html">
            <img src="/static/assets/img/logos/ministerio-small.png" width="14%" height="14%"> &nbsp;&nbsp;&nbsp;
          </a>
          <a target="_blank" href="https://www.jcyl.es/">
            <img src="/static/assets/img/logos/junta-small.png" width="9%" height="9%"> &nbsp;&nbsp;&nbsp;
          </a>
          <a target="_blank" href="https://www.ubu.es/grado-en-ingenieria-informatica">
            <img src="/static/assets/img/logos/ubu-small.png" width="9%" height="9%"> &nbsp;&nbsp;&nbsp;
          </a>
          <a target="_blank"
            href="https://www.ubu.es/advanced-data-mining-research-and-bioinformatics-learning-admirable">
            <img src="/static/assets/img/logos/admirable.png" width="14%" height="14%"> &nbsp;&nbsp;&nbsp;
          </a>
        </div>
      </div>

      <div class="col">
        <div class="text-xl-right text-muted">
          <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank"> &copy; Creative-Tim</a>
          <a target="_blank" href="https://appseed.us">&nbsp;&nbsp;AppSeed</a>
          <a target="_blank" href="https://github.com/phf1001/semisupervised-learning-in-cibersecurity#used-images">
            &nbsp;&nbsp;{{ gettext('Imágenes usadas') }}
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>