<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>

  <div class="header">
    <h1>PHISHING SCANNER 🎣</h1>
  </div>

  <div class="topnav">
    {% if g.user %}
      
      <a href="{{ url_for('scanner.index') }}">Scan URL</a>
      <a style="float:right" href="{{ url_for('auth.logout') }}">Log Out</a>
      <a style="float:right">{{ g.user['username'] }}</a>
    {% else %}
      <a href="{{ url_for('scanner.index') }}">Scan URL</a>
      <a style="float:right" href="{{ url_for('auth.register') }}">Register</a>
      <a style="float:right" href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </div>

</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<div class="footer">
  <a href="https://github.com/phf1001/semisupervised-learning-in-cibersecurity"><img src="../static/images/GitHub-Mark.png" width="50" height="50"></a
</div>
